<div class="row">
  <div class="col-3">
    <app-sidenav></app-sidenav>
  </div>

  <div class="col-9">
    <a routerLink="/viewPost/{{ post.id }}">
      <div class="card horizontal" style="min-width: 250px">
        <div class="row">
          <div class="col-lg-4 col-sm-12 col-md-6 pr-0">
            <div class="card-image">
              <img src="{{ post.imgUrl }}" alt="food" class="img-fluid" />
            </div>
          </div>
          <div class="col-lg-8 col-sm-12 col-md-6">
            <div class="card-stacked">
              <div class="card-content mt-2">
                <span class="card-title">{{ post.title }}</span>
                <div class="card-text mb-3">
                  {{ post.content }}
                </div>
                <span class="mb-2"><strong>Post by</strong> {{ post.by }}</span
                ><br />
                <span class="text-muted" style="font-size: 12px"
                  >Last updated on {{ post.updatedDate }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
